<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>about</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>
    <h2>About</h2>
    <p>About Node.js</p>
    <p>
    As an asynchronous event driven JavaScript runtime, Node is designed to build scalable network applications. In the following "hello world" example, many connections can be handled concurrently. Upon each connection the callback is fired, but if there is no work to be done, Node will sleep.    
    </p>
</body>
</html>