<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stream</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>
    <h2>Node#</h2>
    <a href="#">Node.js® is a JavaScript runtime built </a>
    <p>
       The Node.js Foundation’s mission is to enable widespread adoption and help accelerate development of Node.js and other related modules.     </p>

    
</body>
</html>