<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>news</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>
    <h2>News</h2>
    <a href="#">News from 2018</a>
    <p>
        Node.js 11.0.0 is here! This is the newest Node.js Current Release line with a focus primarily on improving internals, performance, and an update to V8 7.0.
    </p>
        <h3>< News </h3>
        <p>Thanks for getting touch</p>
        <p>you contracted <%= data.who %> in the <%= data.department %></p>
        <p>We will reply to you at <%= data.email %></p>

</body>
</html>