*{
    padding: 0;
    margin: 0;
}
body{
        
    background: rgb(143, 143, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 0, 37);
    padding: 0;
}
h2{
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: White;
}
a{
    text-decoration: none;
    color: rgb(26, 0, 37);
}
p{
    font-size: 16px; 
    text-align: center;
}